*.DS_Store
*.sw?

*.o
*.lo

Makefile
Makefile.in

/aclocal.m4
/ar-lib
/autom4te.cache
/compile
/config.cache
/config.guess
/config.h
/config.h.in
/config.h.in~
/config.log
/config.status
/config.sub
/configure
/depcomp
/install-sh
/libtool
/ltmain.sh
/m4/libtool.m4
/m4/ltoptions.m4
/m4/ltsugar.m4
/m4/ltversion.m4
/m4/lt~obsolete.m4
/missing
/stamp-h1
/test-driver

.deps/
.libs/

/src/lib/libestate.la

*.log
*.trs
*.est.c
*.pc

/src/tests/estate_suite.xml
/src/tests/estate_suite
/src/bin/estate_cc
/src/examples/turnstile

/doc/html
/doc/Doxyfile

